h2{
    color: black;
}

p{
    color: black;
}
span{
    color: black;
}

.card{
    width: 300px ;
    height: 180px;
    border: 2px black solid;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6)),url() no-repeat;
    background-size: cover;
    border-radius: 20px;
 
}


#imge{
    width: 250px ;
    height: 180px;
    border-radius: 20px;
    
}
h1{
    color: black;
}